body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url("lines-4498.gif");
    background-size: cover;
    background-position: center top;   
    color: black;

}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    background-color: #333;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}
.menu a:hover {
    color: #ff6600;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: whitesmoke;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: whitesmoke;
}

table th {
    background-color: #f4f4f9;
    color: black;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Форми */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f4f4f9;
}

form input, form textarea, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff6600;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
    .menu li {
        margin: 150px 0;
    }
    .profile-img {
        width: 100px;
        height: 100px;
    }
}
